
<div class="container_grid posicao_menu"></div>
<nav id="menu1" class="logo"> 
    <a id="log" href="index.html"><img class="logologo" src="img/logo.svg" alt="Logo do site Gamer Mania"></a>   
</nav>
<nav id="menu" class=" menu_abaixo menu" style="@media screan and (max-width: 768px) {
    display: none;
}">
    <a routerLink = "">Home</a>
    <a routerLink ="../console">Console</a>
    <a routerLink ="../jogos">Jogos</a>
    <a routerLink ="../pc">PC</a>
    <a routerLink ="../outlet">Outlet</a>
    <a routerLink ="#">Saiba mais</a>
    <a routerLink ="../entrar">Entrar</a>
    
    
    
</nav>
        <a href="#" id ="barras"><img class="barra" src="img/menu_barra.svg" alt="Menu de barra"></a>       

<section>
<div class="corpo_top">
   <div class="passamento_entre_menu_corpo">
        <div id = "carrossel" class="carrossel">
            <img src="img/consele10.jpg" alt="Banner do Console">
            <img src="img/pcTeste.jpg" alt="Banner do PC">
            <img src="img/notebook1.jpg" alt="Banner do Notebook">         
        </div>
    </div>
</div>  
</section>
