
<div class="container_grid posicao_menu">
<nav id="menu1" class="logo"> 
    <a id="log" href="index.html"><img class="logologo" src="assets/img/logo.svg" alt="Logo do site Gamer Mania"></a>  
</nav>
<nav id="menu" class=" menu_abaixo menu" style="@media screan and (max-width: 768px) {
    display: none;.
}"> 

<header>

    <a routerLink = "">Home</a>
    <a routerLink ="../console">Console</a>
    <a routerLink ="../jogos">Jogos</a>
    <a routerLink ="../pc">PC</a>
    <a routerLink ="../outlet">Outlet</a>
    
    <a routerLink ="../entrar">Entrar</a>
    
    
    

        <a href="#" id ="barras"><img class="barra" src="assets/img/menu_barra.svg" alt="Menu de barra"></a>       



        
</header>

