<body>
<div class="corpo_top">
<div class="passamento_entre_menu_corpo">
<div id = "carrossel" class="carrossel">
    <img src="assets/img/consele10.jpg" alt="Banner do Console">
    <img src="assets/img/pcTeste.jpg" alt="Banner do PC">
    <img src="assets/img/notebook1.jpg" alt="Banner do Notebook">         
    <img src="assets/img/sale.jpg" alt="Banner do Notebook">  
</div>
</div>



  <!-- <section>
    <div class="row">
         <div id="espaco-promocao" class="corpo_conteudo" style=" @media screan and (max-width: 768px) {
             display: none;
        }"> 
            <div class="corpo_inicio container_grid">
                <div *ngFor= "let promocao of listaPromocao" class="card">
                    <div class="card">
                        <h3>{{promocao.titulo}}</h3>
                        <img src="assets/img/notebook1.jpg" alt="Foto do computador da esquerda">
                         <p>{{promocao.descricao}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </section> -->


   <section>
    <div class="row">
        <div id="espaco-promocao" class="corpo_conteudo" style=" @media screan and (max-width: 768px) {
             display: none;
        }">
            <div class="corpo_inicio container_grid">
                <div class="card">
            <h3>Console</h3>
            <img src="assets/img/console1.jpg" alt="Foto do computador da esquerda">
            <p>jjkkdjffjjdjfkorrklwç</p>
            
                </div>
                <div class="card">
            <h3>Jogos</h3>
            <img src="assets/img/game.jpg" alt="Foto do computador do meio">
            <p>jjkkdjffj</p>
                </div>
                 <div class="card">
            <h3>PC</h3>                    
            <img src="assets/img/pc.jpg" alt="Foto do computador da direita">
            <p>jjkkdjffjjdjfkorrklwç</p>
                </div>
                </div>
                <div class="corpo_inicio container_grid">    
                    <div class="card">
                <h3>Console</h3>
                <img src="assets/img/console1.jpg" alt="Foto do computador da esquerda">
                <p>jjkkdjffjjdjfkorrklwç</p>
                
                    </div>
                    <div class="card">
                <h3>Jogos</h3>
                <img src="assets/img/game.jpg" alt="Foto do computador do meio">
                <p>jjkkdjffj</p>
                    </div>
                    <div class="card">
                        
                <h3>PC</h3>                    
                <img src="assets/img/pc.jpg" alt="Foto do computador da direita">
                <p>jjkkdjffjjdjfkorrklwç</p>
                    </div>
                </div>
            
        </div>
    </div>
<!-- 
     <div class="corpo_fim container" style="@media screan and (max-width: 768px) {
        display: none;
    }"> 
        <div class="item_primeiro">
            <a href="#">Item inicio<img src="assets/img/console1.jpg" alt="Foto do computador da esquerda"></a>
        </div>
        <div class="item_meio">
            <a href="#">Item Meio<img src="assets/img/game.jpg" alt="Foto do computador do meio"></a>
        </div>
        <div class="item_direito">
            <a href="outlet.html">Outlet<img src="assets/img/pc.jpg" alt="Foto do computador da direita"></a>
         </div> 
    </div> -->
    <!-- </div> -->
<!-- </div> -->
</section>

   <section class="lazy slider" data-sizes="50vw"></section>


  





   
   <script type="text/javascript">
    $(document ).ready(function() {
    $("#carrossel img:eq(0)").addClass("bannerAtivo").show()

    setInterval(slide, 1000)



    function slide(){
        if($ (".bannerAtivo").next().length){
            $(".bannerAtivo").removeClass("bannerAtivo").hide().next().addClass("bannerAtivo").show()

        }else{
            $(".bannerAtivo").removeClass().hide()
            $("#carrossel img:eq(0)").addClass("bannerAtivo").show()
        }

    }



    $("#barras").click(function(){
        // $("#menu").addClass("menuAtivo")

        $("#menu").toggleClass("menuAtivo")

        // if($("#menu").hasClass("menuAtivo")){
        //     $("#menu").removeClass("menuAtivo")
        // }else{
        //     $("#menu").addClass("menuAtivo")

        // }
    })
})



</script>


</div>
</body>