<div class="passamento_entre_menu_corpo">
    <div id = "carrossel" class="carrossel">
        <img src="assets/img/apex.jpg" alt="Banner do Console">
        <img src="assets/img/game_1.jpg" alt="Banner do Console1">
        <img src="assets/img/game_3.jpg" alt="Banner do Console2">         
        <img src="assets/img/game_2.jpg" alt="Banner do Console2"> 
    </div>
    </div>
    <div id="espaco-promocao" class="corpo_conteudo" style=" @media screan and (max-width: 768px) {
        display: none;
   }">
    </div>